extends /template/default

mixin fullLink(pageName, link, icon, label)
    a.listSimpleItem(href= link, data-current= hqPage === pageName ? '' : null)
        .figure: i(class= `i-${icon}`)
        .label= label

block minorFull
    header Центр развития
    .listItems
        +fullLink('contributors', link('contributors'), 'users', 'Участники')
        +fullLink('todo', link('todo'), 'warning', 'Что можно улучшить?')
        +fullLink('contribute-guide', link('guide'), 'circle-question', 'Как внести вклад?')

mixin minorButton(pageName, icon, link)
    a.minorButton(href= link, data-current= hqPage === pageName ? '' : null)
        i(class= `i-${icon}`)

block minorMini
    +minorButton('contributors', 'users', link('contributors'))
    +minorButton('todo', 'warning', link('todo'))
    +minorButton('contribute-guide', 'circle-question', link('guide'))