extends /template/default

mixin fullLink(pageName, link, icon, label)
    a.listSimpleItem(href= link, data-current= hqPage === pageName ? '' : null)
        .figure: i(class= `i-${icon}`)
        .label= label

block minorFull
    header Центр развития
    .listItems
        +fullLink('contributors', '/contributors', 'users', 'Участники')
        +fullLink('todo', '/todo', 'warning', 'Что можно улучшить?')
        +fullLink('contribute-guide', '/contribute-guide', 'circle-question', 'Как внести вклад?')

mixin minorButton(pageName, icon, link)
    a.minorButton(href= link, data-current= hqPage === pageName ? '' : null)
        i(class= `i-${icon}`)

block minorMini
    +minorButton('contributors', 'users', '/contributors')
    +minorButton('todo', 'warning', '/todo')
    +minorButton('contribute-guide', 'circle-question', '/contribute-guide')