mixin tocGroup(title)
    .tocGroup
        if (title)
            .title= title
        .tocTree
            block

mixin tocItem(level, icon, label, options = {})
    .tocItem(class= level ? `tocLevel-${level}` : '', data-accent= options.accent, data-id= options.dataId)
        a(href= options.href)
            span.figure
                i(class= `i-${icon}`)
            span.label= label