@use 'def/size';

@use 'partial/util';

.ads
{
    overflow: hidden;

    &.beforeContent
    {
        max-height: 150px;
        padding-top: size.$gapBig;
    }

    &.afterContent
    {
        margin-top: size.$gapBig;
    }

    // &.left
    // {
    //     @include util.size(calc(300px - (2 * size.$gap)));
    //     margin: size.$gap;
    //     background: red;
    // }
}