@use 'def/size';

@use 'partial/hover';
@use 'partial/util';

$fontSize: 15px;
$gapBig: size.$gap;
$gap: calc($gapBig / 2);

.tocTree .tocGroup
{
    padding: $gap 0;
    border-bottom: 1px solid var(--c_border);
    &:last-of-type { border-bottom-color:  transparent; }

    > .title
    {
        font-weight: 600;
        color: var(--c_text-dimmed);
        padding: $gap $gapBig;
    }
}

.tocTree .tocItem
{
    display: flex;
    align-items: center;
    padding: $gap $gapBig;

    @include util.transition(background);

    &[data-accent] { a { color: var(--c_text) !important; } }
    &[data-current] { background: var(--c_bg-content-accent); }
    
    > a
    {
        display: inline-flex;
        align-items: center;
        gap: size.$gapSmall;

        color: var(--c_text-muted);
        text-decoration: underline;
        text-decoration-color: transparent;
        @include util.transition(color, text-decoration-color);

        &:hover
        {
            cursor: pointer;
            color: var(--c_text);
            text-decoration-color: var(--c_text-muted);
        }

        > .figure
        {
            flex-shrink: 0;
            position: relative;
            //top: 1px;
            @include util.size(20px, 22px);

            > *
            {
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
            }

            > i { font-size: 17px; }
            > i.i-exclamation { font-size: 20px; }
        }

        > .label { font-size: $fontSize; }
    }

    @for $i from 1 through 10
    {
        &.tocLevel-#{$i}
        {
            padding-left: $gapBig * ($i + 1);
            .label { font-size: calc($fontSize - .5% * $i); }
        }
    }
}

.tocTree .tocSection
{
    > .tocSectionBody
    {
        overflow: hidden;
    }

    &:not([data-open]) 
    {
        > .tocItem span.figure > i::before { content: "\e901"; }

        > .tocSectionBody
        {
            height: 0;
            opacity: 0;
        }
    }

    &[data-open]
    {
        > .tocItem span.figure > i::before { content: "\e900"; }
        > .tocSectionBody { opacity: 1; }
    }
}