@use 'def/color';
@use 'def/size';
@use 'def/bp';

@use 'partial/util';

//
// Open Buttons
//

#__erudit > main > .bottomSticky > .asideControls
{
    $buttonSize: 60px;
    $height: $buttonSize + 2 * size.$gapStruct;

    position: sticky;
    bottom: 0;
    height: $height;
    margin-top: -1 * $height;
    overflow: hidden;

    pointer-events: none;
    touch-action: none;

    .majorOpen,
    .minorOpen
    {
        position: absolute;
        bottom: size.$gapStruct;
        @include util.size($buttonSize);

        pointer-events: auto;
        touch-action: auto;

        font-size: 25px;
        color: var(--c_bg-content);
        background: var(--c_text-dimmed);
        opacity: 0;

        box-shadow: 0 0 7px 15px var(--c_bg-content);

        @include util.transition(opacity, background, left, right);

        &:hover
        {
            cursor: pointer;
            background: var(--c_text-muted);
        }
    }

    .majorOpen
    {
        left: -1 * $buttonSize;

        > i
        {
            display: block;
            transform: scaleX(-1);
        }
    }
    
    .minorOpen
    {
        right: -1 * $buttonSize;
    }

    @include bp.max(noAside)
    {
        .majorOpen,
        .minorOpen
        {
            &[data-showing]
            {
                opacity: .95;
                &:hover { opacity: 1; }
            }
        }

        [data-showing]
        {
            &.majorOpen { left: size.$gapStruct; }
            &.minorOpen { right: size.$gapStruct; }
        }
    }
}

//
// Base Aside Layout
//

#__erudit
{
    > aside
    {
        $shadow: 5px 2px rgba(0, 0, 0, .05);

        @include util.size(size.$aside, 100%);

        //position: absolute;
        top: 0;
        z-index: 10;

        background: var(--c_bg-content-shade);

        @include util.transition(width, box-shadow, left, right);
        
        &.major { box-shadow: -3px 0 #{$shadow}, inset -3px 0 #{$shadow}; }
        &.minor { box-shadow:  3px 0 #{$shadow}, inset  3px 0 #{$shadow}; }

        &.minor
        {
            position: relative;
            right: 0;
        }

        &[data-showing]
        {
            $shadow: 5px 5px rgba(0, 0, 0, .15);

            width: size.$aside !important;

            @mixin mainOverlay
            {
                & ~ main::after
                {
                    pointer-events: auto;
                    touch-action: auto;
                    opacity: .65;
                }
            }

            @include bp.max(miniMajor)
            {
                &.major
                {
                    box-shadow: 2.5px 0 #{$shadow};
                    @include mainOverlay;
                }
            }

            @include bp.max(miniMinor)
            {
                &.minor
                {
                    right: calc(size.$aside - size.$asideMini);
                    box-shadow: -2.5px 0 #{$shadow};
                    @include mainOverlay;
                }
            }

            @include bp.max(noAside)
            {
                &.major { left: 0; }
                &.minor { right: size.$aside; }
            }
        }

        //

        @include bp.max(miniMajor)
        {
            &.major
            {
                width: size.$asideMini;
            }
        }

        @include bp.max(miniMinor)
        {
            &.minor
            {
                width: size.$asideMini;
            }
        }

        @include bp.max(noAside)
        {
            &.major,
            &.minor
            {
                width: 0;
            }
            
            &.major { left: 0; }
            &.minor { right: 0; }
        }
    }
}

//
// Full and Mini
//

@mixin asideHidden
{
    opacity: 0;
    pointer-events: none;
    touch-action: none;
}

#__erudit
{
    > aside
    {
        &[data-showing] { .mini { @include asideHidden; } }

        .full,
        .mini
        {
            position: absolute;
            top: 0;
            height: 100vh;
            height: 100dvh;
            opacity: 1;

            @include util.transition(opacity);
        }

        .full { width: size.$aside; }
        .mini { width: size.$asideMini; }

        &.major
        {
            .full { left: 0; }
            .mini { right: 0; }
        }

        &.minor
        {
            .full { right: 0; }
            .mini { left: 0; }
        }

        //

        @include bp.min(miniMajor, 1px)
        {
            &.major .mini { @include asideHidden; }
        }

        @include bp.min(miniMinor, 1px)
        {
            &.minor .mini { @include asideHidden; }
        }

        @include bp.between(noAside, miniMajor, 1px)
        {
            &.major:not([data-showing]) .full { @include asideHidden; }
        }

        @include bp.between(noAside, miniMinor, 1px)
        {
            &.minor:not([data-showing]) .full { @include asideHidden; }
        }

        @include bp.max(noAside)
        {
            .mini { @include asideHidden; }
        }
    }
}