@use 'def/size';

@use 'partial/scroll';
@use 'partial/util';

#themeSwitcher
{
    .themeIcon,
    .themeName
    {
        position: relative;

        > *
        {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            opacity: 0;
            @include util.transition(opacity);
        }
    }

    > .themeIcon
    {
        i
        {
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    > .themeName
    {
        font-weight: 600;
        color: var(--c_text-dimmed);
    }
}

html[data-theme^=auto]
{
    #themeSwitcher
    {
        .themeIcon .i-sun-and-moon { opacity: 1; }
        .themeName .auto { opacity: 1; }
    }
}

html[data-theme=light]
{
    #themeSwitcher
    {
        .themeIcon .i-sun { opacity: 1; }
        .themeName .light { opacity: 1; }
    }
}

html[data-theme=dark]
{
    #themeSwitcher
    {
        .themeIcon .i-moon { opacity: 1; }
        .themeName .dark { opacity: 1; }
    }
}