@use 'def/size';

@use 'partial/scroll';
@use 'partial/util';

body > aside.major > .full > .panes > .pane[data-pane=other]
{
    > .inner
    {
        .listItem
        {
            display: flex;
            align-items: center;
            gap: size.$gap;
            padding: 0 size.$gap;
            height: 60px;

            color: var(--c_text-muted);
            border-bottom: 1px solid var(--c_border);

            &:hover
            {
                cursor: pointer;
                background: var(--c_bg-content-accent);
                color: var(--c_text);
            }

            @include util.transition(color, background);
        }

        .listItem.themeSwitcher
        {

            > .themeIcon
            {
                font-size: 22px;
                width: 22px;
            }

            > .themeName
            {
                font-weight: 600;
                color: var(--c_text-dimmed);
            }
        }
    }
}

.listItem.themeSwitcher
{
    position: relative;

    .themeIcon,
    .themeName
    {
        > *
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            @include util.transition(opacity);
        }
    }

    .themeIcon > .i-moon { left: 18px; }
}

html[data-theme^=auto]
{
    .listItem.themeSwitcher
    {
        .themeIcon .i-sun-and-moon { opacity: 1; }
        .themeName .auto { opacity: 1; }
    }
}

html[data-theme=light]
{
    .listItem.themeSwitcher
    {
        .themeIcon .i-sun { opacity: 1; }
        .themeName .light { opacity: 1; }
    }
}

html[data-theme=dark]
{
    .listItem.themeSwitcher
    {
        .themeIcon .i-moon { opacity: 1; }
        .themeName .dark { opacity: 1; }
    }
}