%scrollbar
{
    -webkit-overflow-scrolling: auto !important;

    &::-webkit-scrollbar
    {
        -webkit-overflow-scrolling: auto !important;
        height: 5px !important;
        width: 5px !important;
    }

    &::-webkit-scrollbar-thumb
    {
        background: var(--c_scrollbar) !important;
        //&:hover { background: var(--c_bg-shade-4); }
    }

    &::-webkit-scrollbar-corner
    {
        background: var(--c_border) !important;
    }
}