include /include/toc

.viewContainer(data-view= bookId ? 'book' : 'global')
    .view(data-view="global")
        .inner
            .tocTree
                each shelf in asideMajor.globalToc
                    +tocGroup(shelf.title)
                        each book in shelf.books
                            +tocItem(0, 'book', book.title, {
                                current: bookId === book.id,
                                dataId: book.id
                            })

    .view.loading(data-view="loading")
        i.i-omath

    .view(data-view="book")
        .inner
            .bookTitle= bookToc ? bookTitle : ''
            .controls
                .navButtons
                    .back(title= i18n('back')): i(class="i-arrow-left")
                    a.home(title= i18n('paneToc.controls.home'), href="google.com"): i(class="i-house")

                .filter
                    .label= i18n('paneToc.controls.display')
                    .buttons
                        .article(title= i18n('article'), data-active): i(class="i-file-lines")
                        .summary(title= i18n('summary')): i(class="i-topic-summary")
                        .practicum(title= i18n('practicum'), data-active): i(class="i-topic-practicum")

            if (bookToc)
                != bookToc