extends /template/hq

block content
    h2 Как внести вклад?
    p.
        Весь вклад в проект можно условно разделить на три типа:
    p.
        <strong>Исправление опечаток</strong> — текста много, когда его много, неизбежно в нем будут встречаться ошибки.
        Просто свяжитесь с нами и укажите на проблемное место. Исправление опечаток не учитывается на странице <a href="/contributors">участников</a>!
        
    p.
        <strong>Обычный вклад</strong> — дополнительные пояснительные абзацы, подразделы, новые задачи или способы решения.
        Для такого вклада достаточно связаться с нами и приложить добавляемые материалы.
        
    p.
        <strong>Внушительный вклад</strong> — суда относятся большие дополнения к уже существующим темам, написание полностью новые тем и так далее вплоть до добавления новых учебников.
        Подготовьте материал в <a href="https://editor.omath.net">редакторе</a>, а потом отправьте его нам.
    
    h2 Как связаться?
    
    ul
        li Написать в сообщения <a href="https://vk.com/public212430365">сообществу OMath</a> ВКонтакте
        li Предложить изменения <a href="https://github.com/open-math/ru.omath">напрямую</a> через GitHub
        li Написать на почту: <a href="mailto:newpetya@inbox.ru">newpetya@inbox.ru</a>