extends /template/default

block content
    h1 Математика

    p Математика — очень интересная и в то же время трудная наука!

    P На этом сайте вы найдете набор учебников, в которых <b>подробно</b>, <b>понятно</b> и с <b>примерами</b> излагаются разные аспекты математики.

    p Каждый из учебников состоит из набора тем. А сами темы состоят из трех разделов:

    ol
        li Статья — полная и подробная теория
        li Конспект — выжимка самых важных моментов
        li Практикум — набор задач для отработки и закрепления полученных знаний

    p С нами вы научитесь математике!

    p <b>Вперед!</b>