.gallery(id= _id, class= _classList)
    .selector
        .inner
            each image, i in images
                .image(data-current= (i === 0) ? '' : null)
                    .hoverOverlay
                        i.i-eye
                    .imgWrapper
                        img(src= image.src, loading="lazy", data-invertible= image.invertible ? '' : null)

    .display
        each image, i in displayImages
            .displayImage(data-current= (i === 0) ? '' : null)!= image