.image(id= _id, class= _classList)
    a(href= src, data-pswp-width= width, data-pswp-height= height, data-pswp-single="", target="_blank")
        img(src= src, loading="lazy")

    if (caption)
        .caption= caption