.image(id= _id, class= _classList)
    a(href= src, data-pswp-width= width, data-pswp-height= height, data-pswp-single="", target="_blank")
        img(src= src, loading="lazy", data-invertible= invertible ? '' : null, style= maxWidth ? `width: 100%; max-width: ${maxWidth}px` : null)

    if (caption)
        .caption= caption